<table class="table">
  <tr>
    <th>#</th>
    <th>nome</th>
    <th>citta</th>
    <th>azioni</th>
  </tr>
  <tr *ngFor="let user of users; let  index = index" [ngStyle]="{color: user.nome === 'Carlo' ? 'green' : 'red'}">
    <td>{{index + 1}}</td>
    <td> {{user.nome}}</td>
    <td>{{user.citta}}</td>
    <td>
      <button class="btn btn-danger" (click)="removeUser(index)">cancella</button>
    </td>
  </tr>
</table>
