<label>
  <input type="text" class="form-control" #nome>
</label>
<br>
<label>
  <input type="text" class="form-control" #citta>
</label>
<br>
<button type="button" class="btn btn-primary" (click)="addUser(nome.value, citta.value)">salva</button>
