<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <app-form (user)="getUser($event)"></app-form>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <app-table [users]="utenti" (index)="getRemoveUser($event)" *ngIf="value"></app-table>
      <button class="btn btn-danger" (click)="value=!value">elimina/crea</button>
    </div>
  </div>
</div>


<div class="container">
  <div>
    <div><h1>{{title}}</h1></div>
    <hr class="col-xs-12">
    <div><h1>{{nome}}</h1></div>
    <!--<h1 [innerText]="title + ' in angular 6'"></h1>-->
    <hr>
    <div>
      <button class="btn btn-primary" (click)="getClick($event)">clicca</button>
    </div>
    <hr class="col-xs-12">
    <div class="col-4"><label>
      <input type="text" class="form-control" (input)="getText($event)">
    </label>
      <p>{{stampa}}</p></div>
  </div>
  <hr class="col-xs-12">
  <label>
    <input type="text" class="form-control" [(ngModel)]="testo2">
  </label>
  <p [innerText]="testo2"></p>
  <hr class="col-xs-12">
  <div class="col-xs-12"><label>
    <input type="text" class="form-control" #input>
  </label>
    <button class="btn btn-primary" (click)="getData(input.value)">clicca</button>
    <hr class="col-xs-12">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <ul class="list-group">
            <li class="list-group-item">Max</li>
            <li class="list-group-item">Paolo</li>
            <li class="list-group-item">Maria</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
